.students-room {
  object-fit: cover;
  width: 100%;
  height: 80vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./room1.avif);
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.title:hover {
  color: rgb(255, 119, 0) !important;
}

.contact-btn {
  position: absolute;
  cursor: pointer;
  top: 70%;
}

a{
    text-decoration: none !important;
    color: #000 !important;
}
//services section

.services {
  padding: 5rem 0;
  background-color: #f5f5f5;
  .card {
    border: none !important;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out !important;
    transform: translate(0, -10px);
  }
  svg {
    font-size: 5rem;
    color: rgb(255, 119, 0);
  }
}

//footer

footer {
  .form-control1 {
    border: none;
    border-bottom: 1px solid #000;
    &:focus {
      box-shadow: none;
      border-bottom: 1px solid rgb(255, 119, 0) !important;
    }
  }
  background-color: #f5f5f5;
  color: #000;
  padding: 2rem 0;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    li {
      margin: 1rem;
      a {
        color: #000;
        text-decoration: none;
        font-size: 1.5rem;
        &:hover {
          color: rgb(255, 119, 0);
        }
      }
    }
  }
}

//contact form

form {
  padding: 5rem 0;
  .form-control {
    border: none;
    border-bottom: 1px solid #000;
    &:focus {
      box-shadow: none;
      border-bottom: 1px solid rgb(255, 119, 0);
    }
  }
  .btn {
    background-color: rgb(255, 119, 0);
    color: #fff;
    border: none;
    &:hover {
      background-color: orange;
      transform: scale(1.1);
    }
  }
}

//about us

.hotel-room {
  width: 100%;
  height: 80vh;
}

// media query iphone
@media only screen and (max-width: 600px) {
  .students-room {
    height: 30vh !important;
  }
  .card {
    margin-bottom: 2rem;
  }
  .contact-btn {
    display: none !important;
  }
}
